<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
    <footer class="bg-light text-dark pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>DESCRIPCIÓN</h5>
                    <p>Desarrollo de Sitio Web con Django</p>
                    <p>Carlos Córdova</p>
                    

                </div>
                <div class="col-md-4">
                    <h5>PRODUCTOS</h5>
                    <ul class="list-unstyled">
                        <li>Libros</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>CONTACTO</h5>
                    <ul class="list-unstyled">
                        <li>CHILE</li>
                        <li>info@example.com</li>
{% comment %}                         <li>+01 234 567 88</li>
                        <li>+01 234 567 89</li >{% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="text-center py-3">
                © 2024 Copyright: SITIOWEBdjango.com
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
